* {
  margin: 0;
  padding: 0; }

.klajdf {
  color: #333; }

* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

#lalalal {
  width: 100px; }

.right .a_b:hover {
  text-decoration: none; }
