
// .ab_221{
    
//     // overflow: hidden;
//     width: 100%;
//     height: 690px;
//     // display: none;
//     border-top: 1px solid #737373;
//     background: #fff;
//  }
 .ab_333{
    width: 100%;
    height: 500px;
    // display: none;
    border-top: 1px solid #737373;
    background: #fff;
 }
 .ab_23{
     display: block;
    width:316px ;
    height:210px ;
 }
 .ab_24{
    width:316px ;
    height:210px ;
 }
 .ab_25{
     
    width:316px ;
    height:210px ;
 }
 .ab_26{
     margin-left: 130px;
     margin-top: 50px;
 }
 .ab_27{
    margin-left: 30px;
    margin-top: 50px;
}
.ab_28{
    margin-top: 20px;
    display: block;
    width:228px ;
    height: 40px; 
     color: #003150;
    font-size: 22px;
    font-weight: 600;
}
// .ab_36{
//     font-size: 14px;
//     font-weight: 600;
//     color: #737373;
// }
.fle{
    bottom: 20px;
      right: 20px;
      width: 64px;
      height: 64px;
      position: fixed;
      z-index: 1000;
      background: #003150;
      border: 1px solid #fff;
  }
  .fle a{
    bottom: 20px;
      right: 20px;
      width: 75px;
      height: 75px;
      position: fixed;
      z-index: 1000;
      background: #003150;
      border: 1px solid #fff;
  }
  .fle a img{
      width: 48px;
      height: 48px;
      margin-left: 12px;
  }
  .fle a span{
    margin-left: 11px;
    font-size: 13px;
    color: #fff;
  }


  .wb_1{
    width: 100%;
    height: 62px;
    margin-top: 26px;
    line-height: 62px;
    border-top:1px solid #b7bfc6;
    border-bottom:1px solid #b7bfc6;
}
.wb_2{
    margin-left: 50px;
    color:#003150;
}
.wb_2:hover{
    border-bottom: 1px solid #003150;
}
.wb_3{
    color:#003150;
}
.wb_4{
    width: 100%;
    height: 76px;
    font-size: 76px;
}
.wb_4 h1{
    margin-left: 50px;
    font-size: 72px;
    color:#003150;
}
.wb_5{
    width: 1325px;
    height: 666px;
    margin: 0 auto;
    border-top: 1px solid #b7bfc6 ;
}